{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}Tags{% endblock %}

{% block breadcrumbs %}
  {{ bootstrap_breadcrumbs(
    bootstrap_breadcrumb(bootstrap_icon('newspaper') ~ ' News'),
    bootstrap_breadcrumb('Articles', 'article_index'),
    bootstrap_breadcrumb('Tags', 'article_tag_index'),
  ) }}
{% endblock %}

{% set can_create_article_tag = is_granted(attributes.create, new_article_tag) %}

{% set create_article_tag_href = path('article_tag_create') %}

{% block actions %}
  {% if can_create_article_tag %}
    <a href="{{ create_article_tag_href }}" class="btn btn-primary">
      {{ bootstrap_icon('plus-lg') }}
      Add Tag
    </a>
  {% endif %}
{% endblock %}

{% block main %}
  {% set article_tag_count = results|length %}

  <div class="card">
    <div class="card-body">
      <div class="card-title card-title-with-count">
        <h1 class="card-title-heading">Tags</h1>
        <div class="card-title-count">
          {{ bootstrap_badge_primary(article_tag_count) }}
        </div>
      </div>

      {% if article_tag_count %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th># of Articles</th>
              <th>Last Updated</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              {{ _self.table_row(result, attributes) }}
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No tags found.</p>
        {% if can_create_article_tag %}
          <a href="{{ create_article_tag_href }}">Click here to add a tag.</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% macro table_row(result, attributes) %}
  {% set article_tag = result.0 %}

  {% set row_actions = [] %}

  {% if is_granted(attributes.edit, article_tag) %}
    {% set row_actions = row_actions|merge([{
      route: 'article_tag_edit',
      route_params: {id: article_tag.id},
      color: 'secondary',
      icon: 'pen',
      text: 'Edit Tag',
    }]) %}
  {% endif %}

  {% if is_granted(attributes.delete, article_tag) %}
    {% set row_actions = row_actions|merge([{
      route: 'article_tag_delete',
      route_params: {id: article_tag.id},
      color: 'danger',
      icon: 'trash',
      text: 'Delete Tag',
      confirm: 'Are you sure you want to delete this tag? Clicking OK will take you to a verification step to delete this entry.',
    }]) %}
  {% endif %}

  <tr>
    <td>{{ article_tag }}</td>
    <td>{{ result.article_count }}</td>
    <td>{{ article_tag.getUpdatedAt|datetime }}</td>
    <td>
      {% include '@OHMediaBackend/widget/row_actions.html.twig' with {
        row_actions: row_actions,
      } only %}
    </td>
  </tr>
{% endmacro %}
