{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}Articles{% endblock %}

{% block breadcrumbs %}
  {{ bootstrap_breadcrumbs(
    bootstrap_breadcrumb(bootstrap_icon('newspaper') ~ ' News'),
    bootstrap_breadcrumb('Articles', 'article_index'),
  ) }}
{% endblock %}

{% set can_create_article = is_granted(attributes.create, new_article) %}
{% set create_article_href = path('article_create') %}

{% set can_view_article_tag = is_granted(attributes.view_tags, new_article_tag) %}
{% set view_article_tags_href = path('article_tag_index') %}

{% block actions %}
  {% if can_create_article %}
    <a href="{{ create_article_href }}" class="btn btn-primary">
      {{ bootstrap_icon('plus-lg') }} Add Article
    </a>
  {% endif %}

  {% if can_view_article_tag %}
    <a href="{{ view_article_tags_href }}" class="btn btn-secondary">
      {{ bootstrap_icon('tags') }} Tags
    </a>
  {% endif %}
{% endblock %}

{% block main %}
  {% set article_count = pagination.count %}

  <div class="card">
    <div class="card-body">
      <div class="card-title card-title-with-count">
        <h1 class="card-title-heading">Articles</h1>
        <div class="card-title-count">
          {{ bootstrap_badge_primary(article_count) }}
        </div>
      </div>

      {{ form_start(search_form) }}
        <div class="row align-items-end">
          <div class="col-lg-6 col-sm-6">
            {{ form_row(search_form.search) }}
          </div>
          <div class="col-lg-6 col-sm-6">
            {{ form_row(search_form.status) }}
          </div>
          <div class="col-lg-12 col-sm-6">
            <button class="btn btn-outline-dark mb-3" type="submit">Search</button>
            <a class="btn btn-secondary mb-3" href="{{ path('article_index') }}">Reset</a>
          </div>
        </div>
      {{ form_end(search_form) }}

      {% if article_count %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              {% if article_tags_enabled %}
                <th>Tags</th>
              {% endif %}
              <th>Last Updated</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for article in pagination.results %}
              {{ _self.table_row(article, attributes, article_tags_enabled) }}
            {% endfor %}
          </tbody>
        </table>

        {{ bootstrap_pagination(pagination) }}

        <small>{{ bootstrap_pagination_info(pagination) }}</small>
      {% else %}
        <p>No articles found.</p>
        {% if can_create_article %}
          <a href="{{ create_article_href }}">Click here to add an article.</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% macro table_row(article, attributes, article_tags_enabled) %}
  {% set row_actions = [] %}

  {% if is_granted(attributes.edit, article) %}
    {% set row_actions = row_actions|merge([{
      route: 'article_edit',
      route_params: {id: article.id},
      color: 'secondary',
      icon: 'pen',
      text: 'Edit Article',
    }]) %}
  {% endif %}

  {% if is_granted(attributes.delete, article) %}
    {% set row_actions = row_actions|merge([{
      route: 'article_delete',
      route_params: {id: article.id},
      color: 'danger',
      icon: 'trash',
      text: 'Delete Article',
      confirm: 'Are you sure you want to delete this article? Clicking OK will take you to a verification step to delete this entry.',
    }]) %}
  {% endif %}

  <tr>
    <td>
      {{ article }}
      <br>
      {% if article.isPublished %}
        {{ bootstrap_badge_success('Published') }}
      {% elseif article.isScheduled %}
        {{ bootstrap_badge_secondary('Scheduled') }}
      {% else %}
        {{ bootstrap_badge_warning('Draft')}}
      {% endif %}
    </td>
    <td>{{ article.author }}</td>
    {% if article_tags_enabled %}
      <td>
        {% for tag in article.getTags %}
          {{ bootstrap_badge_secondary(tag.name) }} <br>
        {% endfor %}
      </td>
    {% endif %}
    <td>{{ article.getUpdatedAt|datetime }}</td>
    <td>
      {% include '@OHMediaBackend/widget/row_actions.html.twig' with {
        row_actions: row_actions,
      } only %}
    </td>
  </tr>
{% endmacro %}
