<section class="full-post">
  <div class="card-item__image">
    {# TODO how do dimensions / crop work? #}
    {{ image_tag(article.image, {loading: 'lazy'}) }}
  </div>
  <div class="card-item__details">
    <h2 class="card-item__title">{{ article.title }}</h2>

    <p class="card-item__date"><i class="far fa-calendar-alt"></i> {{ article.getPublishDatetime|datetime }}</p>

    {% if article.author %}
    <p class="card-item__author"><i class="fas fa-user"></i> {{ article.author }}</p>
    {% endif %}
  </div>

  <div class="card-item__copy">{{ article.content|raw}}</div>

  <div class="card-item__back"><a href="/{{ parent_path }}" class="btn btn-back">View All Posts</a></div>
</section>
